.header {
    height: 80px;
    margin: 0px;
    background-color: teal;

}

.header a {
    text-decoration: none;
    margin: 5px 20px;
    padding: 4px 10px;
    font-size: large;
    font-weight: bold;
    color: black;
}

.header a:hover {
    color: red;
    background-color: blue;
}